.loader-wrapper{
    width: 60px;
    height: 60px;
}

.loader{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 10px solid black;
    border-top-color: aquamarine;
    border-bottom-color:deeppink;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
}

.loader-inner{
    border-top-color: aqua;
    border-bottom-color: blueviolet;
    animation-duration: 2.5s;
}

@keyframes rotate{
    0%{
        transform: scale(1) rotate(360deg);
    }
    50%{
        transform:scale(.8) rotate(-360deg) ;
    }
}